@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");


::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  width: 6px;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #334155;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #d6d3d1;
  text-decoration: none;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #d6d3d1;
  background-color: #020617;
}


header {
  /* background-color: #01050c; */
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .logo {
  justify-content: space-between;
  position: relative;
  padding: 10px;
  width: 80px;
  height: 80px;
}

header .github {
  justify-content: space-around;
  padding: 10px;
  width: 80px;
  height: 80px;
}

/* header h1 {
  position: absolute;
  padding: 5px 0;
  font-size: 1rem;
  text-align: center;
} */

nav {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav a {
  font-size: 0.85rem;
}

.container {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.box-container {
  width: 100%;
  padding: 0 3rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#tipoRelatorio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.8rem;
}

.relatorio-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.relatorio-item input[type="checkbox"] {
  display: none;
}

.relatorio-item .checkmark {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #cbd5e1;
  border-radius: 999px;
}

.relatorio-item input[type="checkbox"]:checked + .checkmark {
  border: 4px solid #cbd5e1;
  background-color: #334155;
}

#input {
  height: 100%;
  padding: 1rem;
  resize: none;
  border-radius: 5px 5px 0 0;
  color: #d6d3d1;
  background-color: #1e293b;
  border: 0;
  outline: none;
  font-size: 1rem;
}

#jsonOutput {
  height: 100%;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  background-color: #1e293b;
  overflow: auto;
}

.json-key {
  color: #ef4444;
}

.json-value {
  color: #0284c7;
}

.json-string {
  color: #16a34a;
}

.json-boolean {
  color: #06b6d4;
}

.json-null {
  color: #737373;
}

.btn {
  margin-top: -1rem;
  padding: 10px;
  border: 0;
  border-radius: 0 0 5px 5px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #39a038;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.btn-link {
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #41d734;
}

footer {
  justify-content: center;
  margin-top: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  font-size: 0.8rem;
}

footer img {
  width: 25px;
  height: 25px;
}
